<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IO_JAVA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>io.java.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libiojava.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>049AD5C1EA084AE39FA59056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054D8CCD6D1C47A6B54B714E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AABAA6B60FA4C739F0DB9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E39E898356F494AA024C418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14761039CEB7475C826E1BFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>152D1BE7A558475A990D8E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FFF4262CF234768B6BA341F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A7EFE1582494AF6869D6C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32CFACF159CB47D9A8D7974E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B31975424C4AC3A48C5812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FDD625B52240178D7CBCEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>440BC68A8647463BAA8F5D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599E09FE5CD643A2987FC0D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ABEFA7D7E0F4F759783EF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8BAB0C76DC4117A14E4E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F644BF56D6345369D42BF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62660AB28AD34E3DAE114E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73AF263882214D0B95D91751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F234C529AC8499EB8057EDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89446A718DE84444B39E0320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC1E4421691457E8F23876E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F53AFDFA02147C18D10B9B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30973221E8C46228E3EA897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C262779C67DD47C7BDB4DB9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C33D7FBE63454406847ECF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F4F9C2C15743D4B362085E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9ECD39E588B448CBFD64787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3DBCE9354C4E35A331E803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C12F323B5D4A479A4F478E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6212A7F12D944538B747069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CBA038F305457F8B9047D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E77243FA14C24FA391CEC614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43546411DF5413B8A51F33A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5521F873C734CD797BCC352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F630EA71A7AA4FF6BBFE3B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD025E37EEEC43EA8AD14850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
